* {
    margin: 0;
    padding: 0;
}

:root {
    --text-xxg: 800 8rem/125%;
    --text-xg: 800 4rem/125%;
    --text-x: 600 2rem/170%;
    --text-md: 600 1.5rem/170%;
    --text-sm: 600 1rem/170%;
}

body {
    background: linear-gradient(to bottom, #000000, #1E1E1E);
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    margin: 0px;
}

#conteiner {
    width: 90rem;
    margin: auto;
    position: relative;
}

.line {
    height: 1px;
    background-color: #444444;
    margin-inline: 6.25rem;
    margin: auto;
}

@media (width <= 768px) {

    body {
        margin: auto;
        width: 100%;
    }

    #conteiner {
        width: auto;
        gap: 4rem;
    }

    .line {
        height: 0.05px;
        margin: auto;
    }
}